<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <a class="index-add" href="/store/new">Add New Product</a>
    <div class="index-con">
      <div class="title">
        <h1>Store</h1>
      </div>
      <div class="product-con">
        <% items.forEach(item => { %>
        <div class="product">
          <h3><%=item.name %></h3>
          <img src="<%=item.img%>" />
          <p></p>
          <form action="/store/<%=item._id %>">
            <input type="submit" value="View Item" />
          </form>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
